*{
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1680px;
  height: fill-available;
  margin: 0 auto;
  padding: 0 4rem;
}

section {
  padding: 5rem 0;
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .container {
    padding: 0 3rem;
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .container {
    padding: 0 2rem;
  }
}