::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--color7);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color5);
}