:root {
  --color-head_r1: rgba(225, 153, 252, 0.51);
  --color-head_r2: rgba(146, 64, 252, 0.48);
  --texts_color: #828282;
  --font_head: Montserrat;
  --font_texts: Lato;
  --font-italic: Cormorant;
  --color1:  #9240FC;
  --color2: rgba(61, 183, 255, 0.76);
  --color3: #D289FC;
  --color4: #9240FC;
  --color5: #012350;
  --color6:#B87FFBFF;
  --color7: #143764;
  --color8: #9240FC;
  --bg: rgba(244, 240, 240, 0.85);
  --bg2: rgb(244, 240, 240);
  --text-footer: rgba(255, 255, 255, 0.7)
}
