:root {
  --color-head_r1: rgba(225, 153, 252, 0.51);
  --color-head_r2: rgba(146, 64, 252, 0.48);
  --color1:  #9240FC;
  --color2: rgba(61, 183, 255, 0.76);
  --color3: #D289FC;
  --color4: #9240FC;
  --color5: #9240FC;
  --color6:#B87FFBFF;

 
}
